.menu-categories-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.categories-header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white; /* Adjust as needed */
    z-index: 1000; /* Ensure it stays on top */
    padding: 10px 0; /* Adjust as needed */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: Add a shadow for better visibility */
}

.products-content {
    margin-top: 80px; /* Adjust based on the height of your header */
    overflow-y: auto;
    flex-grow: 1;
}
